@using MarketplaceMVC.ViewModels.AccountViewModels;
@model RegisterVM
@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers
@{
    ViewData["Title"] = "Регистрация";
}
<div class="container mt-50 mb-50">
    <div class="row">
        <div class="offset-md-2 col-lg-5 col-md-7 offset-lg-4 offset-md-3">
            <div class="panel border bg-white">
                <div class="panel-heading">
                    <h3 class="pt-3 font-weight-bold">Регистрация</h3>
                </div>
                <div class="panel-body p-3 pt-1">
                    <form id="registerForm" onsubmit="return false">
                        <span class="text-danger" asp-validation-summary="ModelOnly" id="serverValidate"></span>

                        <div class="btn-group w-100 pb-4">
                            <input type="radio" class="btn-check" name="options" id="option1" autocomplete="off" checked />
                            <label class="btn btn-secondary" for="option1">Я Покупатель</label>

                            <input type="radio" class="btn-check" name="options" id="option2" autocomplete="off" />
                            <label class="btn btn-secondary" for="option2">Я Продавец</label>
                        </div>
                        <div class="form-group py-2">
                            <div class="input-field login-input-field">
                                <span class="far fa-user p-2"></span>
                                <input type="text" placeholder="Логин" required asp-for="Login">
                            </div>
                            <span class="text-danger" asp-validation-for="Login"></span>
                        </div>
                        <div class="form-group py-1 pb-2 ">
                            <div class="login-input-field input-field">
                                <span class="fas fa-lock px-2"></span>
                                <input type="password" placeholder="Пароль" required id="password-input" asp-for="Password">
                            </div>
                            <span class="text-danger" asp-validation-for="Password"></span>
                        </div>
                        <div class="form-group py-1 pb-2 ">
                            <div class="login-input-field input-field">
                                <span class="fas fa-lock px-2"></span>
                                <input type="password" placeholder="Подтверждение пароля" required id="password-input" asp-for="ConfirmPassword">
                            </div>
                            <span class="text-danger" asp-validation-for="ConfirmPassword"></span>
                        </div>
                        <button type="submit" class="btn btn-primary btn-block mt-3 w-100" id="registerBtn">Зарегестрироваться</button>
                        <div class="text-center pt-4 text-muted">
                            Уже зарегестрированны? <a href="../login" class="fw-bold">Войти</a>
                        </div>
                    </form>
                </div>
                <div class="mx-3 my-2 py-2 bordert">
                    <div class="text-center py-3">
                        <a href="https://wwww.facebook.com" target="_blank" class="px-2">
                            <img src="https://www.dpreview.com/files/p/articles/4698742202/facebook.jpeg" alt="">
                        </a>
                        <a href="https://www.google.com" target="_blank" class="px-2">
                            <img src="https://www.freepnglogos.com/uploads/google-logo-png/google-logo-png-suite-everything-you-need-know-about-google-newest-0.png"
                                 alt="">
                        </a>

                        <a href="https://www.github.com" target="_blank" class="px-2">
                            <img src="https://www.freepnglogos.com/uploads/512x512-logo-png/512x512-logo-github-icon-35.png"
                                 alt="">
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

@section Scripts
{
    <script>
        $('#registerBtn').on('click', function(){
           $.ajax({
               type: "POST",
               url: '/api/register',
                data: $('#registerForm').serialize(),
                success: function(response){
                    console.log("success");
                    window.location = "@Url.Action("login","account")";
                },
                error: function(response){
                    console.log(response.message);
                    $('#serverValidate').html(response.responseJSON.message);
                }
           })
        })
    </script>
}