@model MarketplaceMVC.Views.Home.AccessDeniedModel
@{
    Layout = "_Layout";
    ViewData["Title"] = "Ошибка доступа";
}

<div class="container-fluid">

    <!-- 404 Error Text -->
    <div class="text-center">
        <div class="error mx-auto" data-text="Упс...">Упс...</div>
        <p class="lead text-gray-800 mb-5">Страница, на которую вы пытаетесь перейти, недоступна из-за уровня доступа</p>
        <a href="/">&larr; На главную</a>
    </div>

</div>
